.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scene {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 70px;

}

.scene.hide {
    display: none;
}

h1,
h2,
h3,
h4,
p {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    font-size: 18px;
    font-weight: 400;
}

h1 {
    font-size: 53px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
    text-align: left;
}

.scene__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    border: 0;
    width: 199px;
    min-height: 26px;
    color: #FFF;
    background: #3EB25E;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.4s;
}

.scene__button span {
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.scene__button__initial-label {
    display: block;
}

.scene__button__hover-label {
    display: none;
}

.scene__button:hover {
    color: #000;
    background: #FFFF7D;
}

.scene__button:hover .scene__button__initial-label {
    display: none;
}

.scene__button:hover .scene__button__hover-label {
    display: block;
}

.scene-1 img {
    width: 70%;
    height: auto;
    align-self: flex-start;
    margin-bottom: 25px;
}

.scene-1 h1 {
    margin-bottom: 25px;
}

.scene-1 h3 {
    margin-bottom: 40px;
}

.scene-2 img,
.scene-3 img,
.scene-4 img,
.scene-5 img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.scene-2 h2 {
    margin-bottom: 22px;
}

.scene-2 p {
    width: 80%;
}

.scene-2__btn-inner {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.scene-2 .scene__button {
    width: 142px;
    min-height: 26px;
    margin: 0 9px;
}

.scene-2 .scene__button span,
.scene-3 .scene__button span,
.scene-4 .scene__button span {
    font-size: 15px;
}

.scene-3__btn-inner,
.scene-4__btn-inner,
.scene-5__btn-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    width: 100%;
    margin: 24px auto 0;
}


.scene-3 .scene__button,
.scene-4__btn-inner .scene__button,
.scene-5__btn-inner .scene__button {
    width: 142px;
    min-height: 26px;
}

.scene-3 h4,
.scene-4 h4 {
    width: 100%;
    margin: 0 auto 10px;
}

.scene-3 select,
.scene-4 select {
    width: 100%;
    height: 33px;
    padding: 6px 10px 4px 40px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    /* Remove default arrow for Chrome/Safari */
    -moz-appearance: none;
    /* Remove default arrow for Firefox */
    appearance: none;
    /* Remove default arrow for newer browsers */
    outline: none;
}

.scene-3 select option,
.scene-3 input,
.scene-4 select option,
.scene-4 input {
    font-style: normal;
    font-weight: 400;
    color: #000;
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
}

.scene-3__select-wrapper,
.scene-4__select-wrapper {
    position: relative;
    margin: 0 auto 11px;
    width: 100%;
}

.scene__button.disabled {
    pointer-events: none;
    background-color: darkgray;
}

.scene-3 .select-arrow,
.scene-4 .select-arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 37px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scene-3 .scene__body {
    width: 90%;
}

.custom-checkbox {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    margin: 2px auto;
    display: flex;
    align-items: center;
}

.scene-4 .checkmark {
    border-radius: 2px;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgba(62, 178, 94, 0.30);
    border-radius: 50%;
}

.custom-checkbox input:checked~.checkmark {
    background-color: #3EB25E;
}

.scene .scene__button--skip {
    width: 75%;
    margin: 10px auto 0;
}


.scene-5 h4 {
    width: 68%;
    padding-bottom: 10px;
}


#loss {
    width: 68%;
    height: 131px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;


}

.scene-5 img,
.scene-6 img {
    width: 88%;
    margin-bottom: 25px;
}

#counter {
    display: none;
}

form {
    width: 68%;
}

.custom-checkbox {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.scene-3__select-wrapper {
    display: relative;
    display: inline-block;
}

.scene-3__select-option,
.scene-4__select-option {
    color: #000;
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.scene__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.scene-6 form input {
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 33px;
}

.input-form, .input-date,
label {
    padding-left: 11px;

}

.scene-6 .input-date{
    width: 45%;

}

.scene-6 .scene__button--skip,
.scene-6 .scene__button {
    width: 100%;
}

.scene-6 .scene__body {
    width: 80%;
    align-items: flex-start;
}

.scene-6 label {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.scene-6 .js-btn-previous {
    margin-bottom: 10px;
}

.scene-6 input {
    margin-top: 7px;
}

@media screen and (min-width: 768px) {
    .scene-3__btn-inner, .scene-4__btn-inner, .scene-5__btn-inner,
    .scene-3 .scene__button--skip, .scene-4 .scene__button--skip {
        width: 300px;
        align-self: flex-start;
        margin: 24px 0 0;
    }

    .scene-5__btn-inner {
        align-self: center;
    }

    .scene-5 .scene__button--skip {
        width: 300px;
        align-self: center;
    }
    
    .scene-6 .scene__button {
        width: 300px;
    }
}

@media screen and (min-width: 1024px) {
    .scene {
        flex-direction: row;
        justify-content: center;
    }

    .scene .scene__body {
        width: 37%;
    }
    
    .scene-5 h4,
    .scene-5 #loss {
        width: 100%;
    }

    .scene img {
        width: 34%;
        margin-right: 80px;
    }
}